<impc-header [isLoggedIn]="isLoggedIn" [isHandsetObs]="isHandset$" [baseUrl]="baseUrl" (logout)="logout()"
  [drawer]="drawer">
</impc-header>
<div class="all-wrap">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
      <impc-filter [filters]="filters"></impc-filter>
    </mat-sidenav>
    <mat-sidenav-content class="page-wrap">
      <main class="content">
        <router-outlet></router-outlet>
      </main>
      <div *ngIf="isLoggedIn" class="publication-adder">
        <button mat-fab (click)="openDialog()" color="accent" class="add-button">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <footer>
        <impc-footer></impc-footer>
      </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
