<!-- <mat-tab-group mat-align-tabs="center" color="accent" #tabs>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">travel_explore</mat-icon>
      <span>Harvesting</span>
    </ng-template>
    <div class="tab-content">
      <impc-admin-harvesting></impc-admin-harvesting>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">people_alt</mat-icon>
      <span>Users</span>
    </ng-template>
    <div class="tab-content">
      <impc-admin-users></impc-admin-users>
    </div>
  </mat-tab>
</mat-tab-group> -->

<impc-admin-harvesting></impc-admin-harvesting>
